language: java
jdk:
  - oraclejdk8
env:
  - NODE_VERSION="0.12"
before_install:
  - nvm install $NODE_VERSION
before_script:
  - make install
script:
  - make test
notifications:
  email:
    on_success: "never"
